.exp{
    text-align: center;
    margin-top: 30px;
    color:brown;
    font-weight: bold;
}



form{
    width: 400px;
    height: 400px;
  
   background-color: rgb(35, 71, 71);
   border-radius: 5px;
   text-align: center;
   justify-content: center;
   margin: 0 auto;
   box-shadow: 4px 4px 8px 4px  rgb(38, 12, 62);
   font-family: 'arial';
   font-weight:bold;
   color: brown;
}


.itemname{
    margin-top: 25px;
}

input{
    border-radius: 5px;
    background-color: rgb(228, 236, 236);
    color: brown;
    width:200px;
}

#submit{
    background-color: rgb(177, 176, 182);
    color: brown;
    width:200px;
    font-weight:bold;
    margin-top: 15px;
}